.card {
	background-color: #f7f7fe;
	height: 100%;
	opacity: 0.9;
	position: absolute;
	width: 50%;
}

.title {
	color: #100f10;
	font-size: 60px;
	position: relative;
	top: 30%;
	margin: 0 1rem 0 1rem;
}

span {
	color: #37b9f1;
}
