@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");

#karla {
	font-family: "Karla", sans-serif;
	font-weight: 700;
}

#rubik {
	font-family: "Rubik", sans-serif;
	font-weight: 700;
}
