.section-container {
	display: flex;
	flex-direction: column;
	padding: 25px;
	position: absolute;
	left: 15%;
	top: 15%;
}

.description-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
	position: relative;
	width: 100%;
}

.flexible {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	margin: 10px 0 10px 0;
}
