.section {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 50%;
	left: 22%;
	top: 15%;
}

.text {
	font-size: 56px;
	text-align: center;
	margin-bottom: 25px;
	margin-top: -10px;
}

.icon-container {
	border: 2px solid #1a1a1a;
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
	position: relative;
	width: 100%;
	background: #f7f7fe;
}

.input {
	border: 1px solid #100f10;
	height: 2.5rem;
	margin: 10px;
}

.form {
	background: #f7f7fe;
	border: 2px solid #100f10;
	left: 5%;
	margin-left: 3rem;
	padding: 1rem 0 0 1rem;
	position: relative;
	width: 80%;
}

#custom-name-field,
#custom-surname-field,
#custom-email-field,
#custom-message-field {
	background: #f7f7fe;
	border: 1px solid #100f10;
}
